<!-- delivery-form.component.html -->
<app-navbar></app-navbar>
<form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="clienteId">Cliente</label>
    <select class="form-control" id="cliente" formControlName="cliente">
      <option value="" disabled>Seleccione un cliente</option>
      <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="productoId">Producto</label>
    <select class="form-control" id="producto" formControlName="producto">
      <option value="" disabled>Seleccione un producto</option>
      <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombre }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="tipo">Tipo envío</label>
    <select class="form-control" id="tipo" formControlName="tipo">
      <option value="" disabled>Seleccione un producto</option>
      <option [value]="1">Terrestre</option>
      <option [value]="2">Marítimo</option>
    </select>
  </div>
  

  <div class="mb-3">
    <label for="placa" class="form-label">Placa</label>
    <input type="text" class="form-control" id="placa" formControlName="placa">
    <div *ngIf="deliveryForm.get('placa')?.touched && deliveryForm.get('placa')?.errors?.['required']" class="text-danger">
      La placa es obligatoria.
    </div>    
    <div *ngIf="deliveryForm.get('placa')?.touched && deliveryForm.get('placa')?.errors?.['pattern']" class="text-danger">
      La placa debe tener el formato de 3 letras seguidas por 3 números.
    </div>
  </div>

  <div class="mb-3">
    <label for="flota" class="form-label">Número de flota</label>
    <input type="text" class="form-control" id="flota" formControlName="flota">
    <div *ngIf="deliveryForm.get('flota')?.touched && deliveryForm.get('flota')?.errors?.['required']" class="text-danger">
      El  número de flota es obligatorio
    </div>    
    <div *ngIf="deliveryForm.get('flota')?.touched && deliveryForm.get('flota')?.errors?.['pattern']" class="text-danger">
      El número de flota debe tener el formato de 3 letras, seguidas de 4 números y finalizando con una letra.
    </div>
  </div>

  <div class="mb-3">
    <label for="cantidad" class="form-label">Cantidad</label>
    <input type="number" class="form-control" id="cantidad" formControlName="cantidad">
    <div *ngIf="deliveryForm.get('cantidad')?.touched && deliveryForm.get('cantidad')?.errors?.['required']" class="text-danger">
      La cantidad es obligatoria.
    </div>
    <div *ngIf="deliveryForm.get('cantidad')?.touched && deliveryForm.get('cantidad')?.errors?.['min']" class="text-danger">
      La cantidad debe ser al menos 1.
    </div>
  </div>


    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="cantidad" formControlName="cantidad">
      <div *ngIf="deliveryForm.get('cantidad')?.touched && deliveryForm.get('cantidad')?.errors?.['required']" class="text-danger">
        La cantidad es obligatoria.
      </div>
      <div *ngIf="deliveryForm.get('cantidad')?.touched && deliveryForm.get('cantidad')?.errors?.['min']" class="text-danger">
        La cantidad debe ser al menos 1.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="fechaRegistro" class="form-label">Fecha de Registro</label>
      <input type="date" class="form-control" id="fechaRegistro" formControlName="fechaRegistro">
      <div *ngIf="deliveryForm.get('fechaRegistro')?.touched && deliveryForm.get('fechaRegistro')?.errors?.['required']" class="text-danger">
        La fecha de registro es obligatoria.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="fechaEntrega" class="form-label">Fecha de Entrega</label>
      <input type="date" class="form-control" id="fechaEntrega" formControlName="fechaEntrega">
      <div *ngIf="deliveryForm.get('fechaEntrega')?.touched && deliveryForm.get('fechaEntrega')?.errors?.['required']" class="text-danger">
        La fecha de entrega es obligatoria.
      </div>
    </div>
  
     
    <div class="mb-3">
      <label for="precioEnvio" class="form-label">Precio de Envío</label>
      <input type="number" class="form-control" id="precioEnvio" formControlName="precioEnvio">
      <div *ngIf="deliveryForm.get('precioEnvio')?.touched && deliveryForm.get('precioEnvio')?.errors?.['required']" class="text-danger">
        El precio de envío es obligatorio.
      </div>
      <div *ngIf="deliveryForm.get('precioEnvio')?.touched && deliveryForm.get('precioEnvio')?.errors?.['min']" class="text-danger">
        El precio de envío no puede ser negativo.
      </div>
    </div>

    <div class="mb-3">
      <label for="numeroGuia" class="form-label">Número de guia</label>
      <input type="text" class="form-control" id="numeroGuia" formControlName="numeroGuia">
      <div *ngIf="deliveryForm.get('numeroGuia')?.touched && deliveryForm.get('numeroGuia')?.errors?.['required']" class="text-danger">
        El  número de guía es obligatorio
      </div>    
      <div *ngIf="deliveryForm.get('numeroGuia')?.touched && deliveryForm.get('numeroGuia')?.errors?.['minLength']" class="text-danger">
        Debe tener 10 digitos
      </div>
      <div *ngIf="deliveryForm.get('numeroGuia')?.touched && deliveryForm.get('numeroGuia')?.errors?.['maxLength']" class="text-danger">
        Debe tener 10 digitos
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="deliveryForm.invalid">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
  </form>
  